VITE_UNSTRUCTURED_IMPORT_BACKEND_ENDPOINT=http://localhost:7860/
VITE_KG_CHAT_BACKEND_ENDPOINT=ws://localhost:7860/text2text
VITE_HAS_API_KEY_ENDPOINT=http://localhost:7860/hasapikey
VITE_KG_CHAT_SAMPLE_QUESTIONS_ENDPOINT=http://localhost:7860/questionProposalsForCurrentDb
VITE_REPORT_DATA_ENDPOINT=http://localhost:7860
